<!DOCTYPE html>
<html lang="en">
<head>

    <title>Добавление метки с собственным изображением</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!--
        Укажите свой API-ключ. Тестовый ключ НЕ БУДЕТ работать на других сайтах.
        Получить ключ можно в Кабинете разработчика: https://developer.tech.yandex.ru/keys/
    -->
    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"> </script>


	<style>
        html, body {
            width: 100%; height: 100%; padding: 0; margin: 0;
        }
        #map{
            height:85vh;
            width:128vh;

        }
        html{ overflow-y:  hidden; }
    </style>
</head>
<body class="bg-light">
<div class="container-fluid p-5">
    <div class="row h-50 ">
        <div class="col-xs-12 col-sm-12 col-3 p-5 border border-secondary">
            <div class="row bg-secondary m-5 rounded-3 h-">
                <button class="text-decoration-none text-white d-flex justify-content-center align-content-center">кнопка</button>
            </div>
            <div class="row bg-secondary m-5 rounded-3 h-">
                <button class="text-decoration-none text-white d-flex justify-content-center align-content-center">кнопка</button>
            </div>
            <div class="row bg-secondary m-5 rounded-3 h-">
               <button class="text-decoration-none text-white d-flex justify-content-center align-content-center">кнопка</button>
            </div>
            <div class="row bg-secondary m-5 rounded-3 h-">
                <button class="text-decoration-none text-white d-flex justify-content-center align-content-center">кнопка</button>
            </div>
            <div class="row bg-secondary border ">
                <textarea  class=""></textarea>
            </div>

        </div>
        <div class="col-xs-12 col-sm-12 col-9 p-5 border-secondary " id="map">
        </div>

    </div>

</div>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>
</html>